@import "variables";

// body

div.centered-v-h {
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  h1,p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
}
