@import "variables";

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../webfonts/open-sans-latin-400.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(../webfonts/open-sans-latin-600.woff2) format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-display: swap;
  src: local("Fira Code Regular"), local("FiraCode-Regular"), url(../webfonts/fira-code-regular.woff2) format("woff2");
}
