@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../webfonts/open-sans-latin-400.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(../webfonts/open-sans-latin-600.woff2) format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-display: swap;
  src: local("Fira Code Regular"), local("FiraCode-Regular"), url(../webfonts/fira-code-regular.woff2) format("woff2");
}

body {
  margin: 0 1rem;
  background-color: #eeeeee;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0 1rem 1.5rem 1.5rem;
  }
}

h1 {
  margin: 1rem 0 0 0;
  font-size: 2rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

h2 {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #666666;
}

@media only screen and (max-width: 768px) {
  h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

h3 {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #007bff;
}

@media only screen and (max-width: 768px) {
  h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

p {
  font-size: 1rem;
}

code {
  position: relative;
  top: -2px;
  margin: 0 0 0 3px;
  padding: 1px 3px;
  border-radius: 3px;
  background-color: #d0d0d0;
  font-family: "Fira Code", monospace;
  font-size: 0.75rem;
}

span.flag-icon {
  margin-left: 3px;
}

a:link {
  color: #000000;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a:visited {
  color: #000000;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a:hover {
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
  color: #af11bf;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

ul li {
  padding-left: 20px;
  text-indent: -20px;
}

ul li.hash-bullet:before {
  content: "#";
  padding-right: 10px;
  color: #be0000;
  font-weight: 600;
}

ul li.gt-bullet:before {
  content: ">";
  padding-right: 10px;
  color: #be0000;
  font-weight: 600;
}

ul img.favicon {
  position: relative;
  top: 4px;
  padding-left: 8px;
  height: 1.25rem;
}

ul i {
  padding-left: 20px;
}

ul span.flag-icon {
  margin-left: 6px;
}

ul span.dates {
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
}

header img {
  border-radius: 50%;
  height: 6rem;
  margin: 0 auto 0 auto;
}

@media only screen and (max-width: 768px) {
  header img {
    display: block;
    margin: 1rem auto;
  }
}

#languages span.flag-icon {
  margin-left: 0;
  margin-right: 6px;
}

@media only screen and (max-width: 768px) {
  div.align-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer p {
  margin: 0 0 1rem 0;
}

@media only screen and (max-width: 768px) {
  footer p {
    margin: 0 0 1.5rem 0;
  }
}

footer div.social-banner {
  font-size: 1.5rem;
}

footer div.social-banner i {
  padding-right: 3px;
}

@media only screen and (max-width: 768px) {
  footer div.social-banner i {
    padding-right: 10px;
  }
}
/*# sourceMappingURL=master.css.map */